@model DaChuang.Models.Colleage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Colleage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostgraduateRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostgraduateRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamousAlumni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamousAlumni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Belonging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Belonging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageIntro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageIntro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleageArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleageArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportantSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportantSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColleagezsUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColleagezsUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicianCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicianCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
