@model PagedList.IPagedList<DaChuang.Models.ColleageMajorLine>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<hr />
<h2 class="text-center">专业分数线</h2>

<p>
    @using (Html.BeginForm("Index", "ColleageMajorLines", FormMethod.Get))
    {
        
        <div class="text-center">
            大学名称
            @Html.TextBox("colleagename", null, new { @class = "form-control", @Style = "display:inline" })
            <input type="submit" value="查询" class="btn btn-primary" />
        </div>

        <div class="form-inline">

            <div class="form-group col-md-2">

                @Html.Label("学校所在地")
                @Html.DropDownList("location", ViewBag.location as SelectList, "全部", new { @class = "pull-right" })

            </div>

            <div class="form-group col-md-2">

                @Html.Label("考生类别")
                @Html.DropDownList("studenttypeid", ViewBag.studenttypeid as SelectList, "全部")

            </div>

            <div class="form-group col-md-2">

                @Html.Label("招生地址")
                @Html.DropDownList("provinceid", ViewBag.provinceid as SelectList, "全部")

            </div>

            <div class="form-group col-md-3">

                @Html.Label("录取批次")
                @Html.DropDownList("batchid", ViewBag.batchid as SelectList, "全部")

            </div>

            <div class="form-group col-md-2">

                @Html.Label("录取年份")
                @Html.DropDownList("select_year", ViewBag.select_year as SelectList,  "全部", new { @class = "form-control" })

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="筛选" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</p>

<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <tr class="table-primary">
            <th>
                @Html.DisplayName("大学名称")
            </th>

            <th>
                @Html.DisplayName("专业")
            </th>

            <th>
                @Html.DisplayName("录取批次")
            </th>

            <th>
                @Html.DisplayName("招生地")
            </th>

            <th>
                @Html.DisplayName("考生类别")
            </th>

            <th>
                @Html.DisplayName("年份")
            </th>
            <th>
                @Html.DisplayName("最高分")
            </th>
            <th>
                @Html.DisplayName("平均分")
            </th>

            @*<th>
                @Html.DisplayName("最低分")
            </th>*@

            <th>
                @Html.DisplayName("批次线")
            </th>
            <th>
                @Html.DisplayName("最高分对应排名段")
            </th>
            <th>
                @Html.DisplayName("平均分对应排名段")
            </th>
            
            @*<th>
                @Html.DisplayName("最低分对应排名段")
            </th>*@

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colleage.ColleageName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Major.MajorName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Batch.BatchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Province.ProvinceName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StudentType.StudentTypeDetail)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MinScore)
            </td>*@
            <td>

                @Html.DisplayFor(modelItem => item.BatchScore)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUpRank) ~ @Html.DisplayFor(modelItem => item.MaxDownRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageUpRank) ~ @Html.DisplayFor(modelItem => item.AverageDownRank)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.MinUpRank) ~ @Html.DisplayFor(modelItem => item.MinDownRank)
            </td>*@
        </tr>
        }
    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { @class = "page-item", page, colleagename = ViewBag.SchoolName, location = ViewBag.Area, studenttypeid = ViewBag.StudentType, provinceid = ViewBag.Province, batchid = ViewBag.Batch, select_year = ViewBag.Year }))
