@model PagedList.IPagedList<DaChuang.Models.ScoreSegment>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc
@{
    ViewBag.Title = "一分一段";
}

<hr />
<h2 class="text-center">一分一段</h2>

<p>
    @using (Html.BeginForm("Index", "ScoreSegments", FormMethod.Get))
    {

        <div class="form-inline">
            <div class="form-group col-md-2">

                @Html.Label("省份")
                @Html.DropDownList("provinceid", ViewBag.provinceid as SelectList, "全部", new { @class = "form-control" })
            </div>


            <div class="form-group col-md-3">

                @Html.Label("学生类型")
                @Html.DropDownList("studentTypeid", ViewBag.studentTypeid as SelectList, "全部", new { @class = "form-control" })

            </div>

            <div class="form-group col-md-2">

                @Html.Label("年份")
                @Html.DropDownList("select_year", ViewBag.select_year as SelectList, "全部", new { @class = "form-control" })

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="筛选" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</p>

<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <tr class="table-primary">
            <th>
                @Html.DisplayName("省份")
            </th>
            <th>
                @Html.DisplayName("年份")
            </th>
            <th>
                @Html.DisplayName("学生类型")
            </th>
            <th>
                @Html.DisplayName("分数")
            </th>
            <th>
                @Html.DisplayName("本段人数")
            </th>
            <th>
                @Html.DisplayName("累计排名")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Province.ProvinceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentType.StudentTypeDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegmentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }

    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, provinceid = ViewBag.Province, select_year = ViewBag.Year, studentTypeid = ViewBag.StudentType }))



